/* LANDING HOME SITE SECTION */
body {
  background-color: black;
}

/* This is the navigation area section */
.navigation {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color:grey;
  width: 98%;
  padding: 2px;
}
  /* visited link */
  a:visited {
    color:white;
  }
  
  /* mouse over link */
  a:hover {
    color: goldenrod ;
  }
  /* selected link */
  a:active {
    color: blue;
  }

  button {
    background-color: black; 
    border: 2px solid;
    color:gold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /* navigation Logo */
  .navigation-logo img {

  }


/*  */
/*  */

  /* Main container/ body of the page section  */
  .Main-container {
    background-color: wheat;
    width: 98%;
  }
  .Sub-container {
    background-color:whitesmoke;
  }
  .organizationName {
    display: flex ;
    flex-direction: column;
    align-items: center;
  }

 /* title Logo for the Header of the page - fooUbank */
  #titleLogo {
    size: 5px ;
  }
  .paragraphContent {
    border: 10px solid;
    margin: 10px;
  }
  /*  */
  /*  */
/* VOLUNTEER SITE SECTION */
/* FOOD PICK UP SITE SECTION */

.foodPackagesTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* create 3 seperate containers for food package description-add images */
.packages {
  display: flex;
  justify-content: space-evenly;
}
/* online order button. center in the middle of page */
#onlineOrder {

}
/* LOCATION AND EVENTS SITE SECTION */
/* ABOUT US SITE SECTION */
.aboutTitle {
  display:flex ;
  justify-content: center;
}
/* CONTACT SITE SECTION */
/* SIGN UP SITE SECTION */