<footer>
    <div class="copyright">
        <div>
            <p>
                <img src="images/familyTable.png">
                <h7>Copyright 2020</h7>
            </p>
        </div>
        <div>
            <a href="/privacyPolicy">Privacy policy</a>
            <a href="#">Terms and conditions</a>
            <a href="#"></a><span class="fa fa-facebook" aria-label="facebook logo"></span></a></div>

        </div>
</footer>