<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>About Us</title>
</head>
<body>
    <%-include('partials/nav')%>
    <br>
    <br>
    <br>
    <div class="Main-container">
        <div class="Sub-container">
    <div class="headerTitle">About us</div>
    <br>
    <br>
    <div class="paragraphContent">
    <p>The FoodUBank was founded on june 17, 2020 by an ametuer web developer who was inspired to make a difference in the
        community. A collaborative effort was established with a community coordinator at a local church who regulary serves the community by
        giving away free food and making delivery services to elderly people who do not have reliable transport, have a disabilty or don't have
        access to resources. It was through this unified vision that enabled this helping cause to be more fruitful 
        with the goal of being a great resource for many.
    </p>
    <p>
        Our goal to to make to leave nobody forgotten. Our aim is to have have every family share a meal together everyday regardless of
        any financial hardships, struggles, and lack of resources.</p>
    
        </div>


        <%-include('partials/footer')%>
    </div>
    </div>

    

<script src="script.js"></script>
</body>
</html>