<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Contact</title>
</head>
<body>
    <%-include('partials/nav')%>

<div class="Main-container">
    <div class="Sub-container">
    <!-- Title of contact page -->
    <!-- <div class="headerTitle"><h1>Contacts</h1></div> -->
    <div class="contactPic"><img src="images/contactus.png"></div>
    <h1>Food Pantry Staff</h1>
    <div class="contacts">
    <div><i>Here is a list of our contacts. if you are interested in hosting any events
        or want to make any donations please reach out to any of the staff below.</i></div>
    <div>
        <dl>
        <dt>- James Anselme</dt>
        <dd>- Food pantry coordinator</dd>
        <dd>- 617-870-4440</dd>
        <dd>- janselme77@gmail.com</dd>
        </dl>
    </div>
    <br>
    <div>
        <dl>
            <dt>Phelonie Paris Corgelas</dt>
            <dd>- Secretary</dd>
            <dd>- 774-360-7765</dd>
        </dl>

    </div>
    <br>
    <div>
        <dl>
           <dt>Richard Lincy</dt> 
            <dd>- Food pantry assitant</dd>
           <dd>- 617-415-8369</dd>
        </dl>

    </div>
    <br>
    <div>
        <dl>
            <dt>Esther Joseph</dt>
            <dd>- Food pantry assistant</dd>
            <dd>- 617-265-0538</dd>
        </dl>

    </div>
    <br>
    <div>
        <dl>
            <dt>Bernard Sylvain</dt>
            <dd>- Food pantry coordinator</dd>
           <dd>- 617-870-4440</dd>
        </dl>

    </div>
</div>
<%-include('partials/footer')%>


</div>
</div>
    


</body>
</html>