<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Contact</title>
</head>
<body>
    <%-include('partials/nav')%>
    <br>
    <br>
    <br>
<div class="Main-container">
    <div class="Sub-container">
    <!-- Title of contact page -->
    <div class="headerTitle"><h1>Contacts</h1></div>
    <div><p>Here is a list of our contacts. if you are interested in hosting an events
        or want to make any donations please reach out to any of the staff below.
    </p>
    <div>
        <p>James Anselme
            Food pantry coordinator
            617-870-4440
        </p>
    </div>
</div>






</div>
</div>
    


<script src="script.js"></script>
</body>
</html>