<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Location And Events</title>
</head>
<body>
    <%-include('partials/nav')%>
    <br>
    <br>
    <br>
    <div class="Main-container">
        <div class="Sub-container">
    
    <div class="headerTitle"><h1>Location and Events</h1></div>
    <div class="locationDescrip">
        <div class="location1">
            <p>222 Woodrow Ave Dorchester Center MA 02124</p>
            <img src="images/templeSalem.jpg">
        </div>
        <br>

        <div class="location2">
            <p>1048 Dorchester Ave, Dorchester, MA 02125</p>
            <img src="images/weymark.jpg">
        </div>
        <br>

        <div class="location3">
            <p>108 Seaver St, Dorchester, MA 02121</p>
            <img src="images/bureaSda.jpg">
        </div>
        <br>











        <%-include('partials/footer')%>
        </div>
    </div>


<script src="script.js"></script>
</body>
</html>