<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Location And Events</title>
</head>
<body>
    <%-include('partials/nav')%>

    <div class="Main-container">
        <div class="Sub-container">
    
    <div class="headerTitle"><h1>Location and Events</h1></div>
    <br>
    <br>
    <br>
    <br>
    <div class="locationDescrip">
        <div class="location1">
            <a href="https://templesalemsda.org/"><img src="images/templeSalem.jpg" class="tSalem"></a>
            <div>
                <p>Temple Salem Church</p>
                Temple salem church has been around for 48 years and has been instrumental in harboring the needs of the haitian community and abroad. This church has for long been active in the community by providing numerous programs for the youth , food pantry, health iniatives, and various events that create collaboration and a cohesive atmosphere.
            </div>
        </div>
            
        <br>

        <div class="location2">
            <a href="http://www.thewaymarksdachurch.org/"><img src="images/weymark.jpg" class="weymark"></a>
            <div>
                <p>Weymark SDA church</p>
                 This church was founded by 124 members on July 31, 1999. Originally recognized as the Roxbury SDA mission begun a Community uplift crusade that created a magnetic pull bringing people together across the Massachusettscommunity. There Mission is to nurture our members (1 Thessalonians 5:11), evangelize the community in which we live (Mark 16:15), and support the world effort in spreading the everlasting gospel of Jesus Christ (Romans 1:16).
            </div>
        </div>
        <br>

        <div class="location3">
            <a href="https://www.bereaboston.org/"><img src="images/bureaSda.jpg" class="bureaSda"></a>
            <div>
                <p>Berea SDA Church</p>
                The Berea Seventh-day Adventist Church grew through the United States the first former African American church was founded. In the early nineteen-hundreds in New York City and was named after a similar religious fervor was observed in Boston Massachusetts as a result of Revenge elliptical Services evangelical Services.
            </div>
  </div>
        </div>
        <br>











        <%-include('partials/footer')%>
        </div>
    </div>

</body>
</html>