<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Privacy Policy</title>
</head>

<body>
    <%-include('partials/nav')%>
    <div class="privacyPolicy">
        <h1>Privacy policy</h1>
        <br>
        <br>
        <div>FoodUBank is committed to protecting your privacy and the security of your personal information.
            This Privacy Policy describes the kind of information we collect from you, how that information is used, and
            what kind of security measures we employ.
            We will not sell, share or rent the information you provide to us in any way that has not been specified in
            our Privacy Policy.
            If you have questions regarding this privacy policy</div>

        <h1>Volunteer privacy policy</h1>
        <div>FoodUBank will not sell, share or trade our volunteers’ names or personal information with any other entity,
            nor send mailings to our volunteers on behalf of other organizations.</div>
        <h1>Collection and Use</h1>
        <div>FoodUBank requests information from you at various points on our website.
            You are under no obligation to provide any information, however,
            in order to participate in some of the services we offer at FoodUbank,
            such information collection is necessary.
            We’ll do our best to update this policy as we provide new services, so please check back often.

            Volunteers: When you become a volunteer for The Greater Boston Food Bank, we ask you to provide us with your
            name, telephone number, physical address, e-mail address, and emergency contact.
            We use this information to populate our volunteer database and to contact you in connection with volunteer
            activities.
            FoodUBank will not at any time trade, share or sell a donor’s personal information with anyone else.
        </div>
        <div>
            <h1>Notification of changes</h1>
            FoodUBank operates secure data networks protected by industry standard firewalls and password protection
            systems. If we decide to change our privacy policy, we will post a notice of those changes on the Privacy Policy
            section of our Web site so that you will always have notice of what information we collect, how we use it,
            and under what circumstances, if any, we disclose it. We will use information in accordance with the privacy
            policy under which the information was collected. If at any point we decide to use personally identifiable
            information in a manner incompatible with the stated purposes at the time it was collected, we will post a
            prominent notification of the change in policy on our Web site.

        </div>
    </div>
    <%-include('partials/footer')%>
</body>

</html>