<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Sign in</title>
</head>
<body>
    <%-include('partials/nav')%>
    <br>
    <br>
    <br>
    <div class="Main-container">
        <div class="Sub-container">
    
    <div class="headerTitle">Sign In</div>
    <!-- this where the user will login by providing username and password -->
    <form action="/" method="post">
        <label for="firstName"> First name: </label>
        <input type="text" id="firstName" placeholder="first name"><br><br>

        <label for="lastName"> Last name: </label>
        <input type="text" id="username" placeholder="Last name"><br><br>

        <label for="email"> Email: </label>
        <input type="text" id="email" placeholder="example@mail.com"><br><br>

        <label for="pword"> Password: </label>        
        <input type="Password" id="pword" name="pword" placeholder="password"><br><br>

        <input type="submit">
    </form>




    
    </div>
    </div>
    


<script src="script.js"></script>
</body>
</html>