<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Message Submitted</title>
</head>
<body>
    <%-include('partials/nav')%>
    <div class="Main-container">
        <div class="Sub-container">
    <div class="successMsg">
    <h3>Thank you your Submission is Successful!</h3>
    </div>




    </div>
    </div>

</body>
</html>