<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head')%>
    <title>Volunteer</title>
</head>

<body>
    <%-include('partials/nav')%>

    <div class="Main-container">
        <div class="Sub-container">

            <div class="headerTitle">Volunteer
                <img src="images/volunteer2.png">
            </div>

            <div class="paragraphContent">
                <p>Here at FoodUBank our volunteers are the engine that keeps the machine rolling.
                    We value anybody that can help and assist in serving their community. After all our motto is "We make a living by what we
                    get, but we make a life by what we give. ” .If this message resignates with then you are the kind of person we 
                    want to work with. It has been found that among its other benefits, giving liberates the soul of the giver, an inspired word
                     by the late Maya Angelou.
                </p>
                <br>
                <h2>Here are some ways you can help</h2>
            </div>
            <div class="waysToHelp">
                <!-- <div class="help1">
                    <h4> Make a Donation</h4>
        <p>We understand that not everyone Will have the time  to be involved In person but with your contributions you can help a person in need.
             Please click the following link now to make a contribution Donate
        </p>
                </div> -->

                <div class="help2">
                    <h4> Donate Items</h4>
                    <p>Help us serve our community by donating items towards our cause , such as clothes, books, coats
                        and etc.
                        You can bring your donated goods at any of our locations from the hours of 3pm – 6pm on
                        wednesday, friday and sundays.
                        For more information you can speak with any of the coordinators at
                    </p>
                </div>

                <div class="help3">
                    <h4> Host an Event</h4>
                    <p>Would you like to get involved? Well, you can help by hosting an event like doing a food drive or
                        a fundraiser and much more.
                        If this sounds like something you want to do please submit your idea on our <a href
                            ="hostIdeas">Host ideas page</a> or contact our team by going to the <a
                            href="contact">contact</a> page.

                    </p>
                </div>

            </div>
            <%-include('partials/footer')%>




        </div>
    </div>

</body>
</html>