/* LANDING HOME SITE SECTION */
body {
  background-color: black;
  padding: 0 1%;
}


/* This is the navigation area section */
nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color:grey;
  /* width: 98%; */
  padding: 2px;
  margin: 0 aut0;
}
nav img {
  width: 20px;
  background-color: lightgoldenrodyellow;
  margin: 2px;
}
/* This is section is the footer of the page */

footer{
width: 100%;
display: block;
padding: 10px 0;
box-sizing: border-box;
background-color:black;
color: white;
}
.copyright {
display: flex;
justify-content: center;

}
footer img {
  background-color: lightgoldenrodyellow;
  width: 30px;
}
/* privacy and policy in footer section of page */
.privacyPolicy {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  color: lightgoldenrodyellow;
  padding: 10%;
}
.privacyPolicy {
  color: lightgoldenrodyellow;
}
.privacyPolicy > div {
display: inline-block;
}
.privacyPolicy > :first-child {
  color: red;
  text-shadow: lightgoldenrodyellow;
  font-size: 5vw;
}
/* terms and contions in the footer section of page */
.terms-conditions div {
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  margin: 20px;
  justify-content: space-between;

}

/* The header style for all pages except homepage and foodpickup page */
.headerTitle {
  display:flex ;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow:2px 2px darkgoldenrod;
  align-items: center;
  padding-top: 20px;
}
h3 {
  text-shadow:2px 2px darkgoldenrod;
}
  /* visited link */
  a {
    color:white;
  }
  
  /* mouse over link */
  a:hover {
    color: goldenrod ;
  }
  /* selected link */
  a:active {
    color: blue;
  }

  button {
    background-color: black; 
    border: 2px solid;
    color:gold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  /* Main container/ body of the page section  */
  .Main-container {
    background-color: wheat;
    /* width: 98%; */
  }
  .Sub-container {
    background-color:whitesmoke;

  }
  .organizationName {
    display: flex ;
    flex-direction: column;
    align-items: center;
  }

/* my Carousel section */

.flexContainer {
  display: flex;
}
#carouselSlidesonly {
  max-width: 30%;
  margin: 1px;
}

 /* title Logo for the Header of the page - fooUbank */
  #titleLogo {
    size: 5px ;
  }
  .paragraphContent {
    border: 5px solid;
    margin: 8px;
    text-align: center;
  }
  p {
    word-wrap: break-word;
    /* text-indent: 10%; */
  }
  
 

  /* ////////////////////////////////////////////////////// */
/* VOLUNTEER SITE SECTION */
.waysToHelp {
display: flex;
width: 95%;
align-content: space-between;
align-items: center;
}

.help1 {
  border: 3px solid;
  margin: 3px;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.help2 {
  border: 3px solid;
  margin: 3px;
  text-align: center;
  background-color: lightgray;

}

.help3 {
  border: 3px solid;
  margin: 3px;
  text-align: center;
  background-color: gold;
  
}

.help3 > a:hover {
 color: lightseagreen;
}

/* Host ideas link Input submission page */

p {
  font-weight: bolder;
}

/* ///////////////////////////////////////////////// */
/* this is to create a pop up message on host ideas page */

/* The Modal (background) */
/* .modal { */
  /*display: none; /* Hidden by default */
    /*position: fixed; /* Stay in place */
    /*z-index: 1; /* Sit on top */
    /*padding-top: 100px; /* Location of the box */
    /*left: 0;
  top: 0;
  width: 100%; /* Full width */
    /*height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*}*/

/* Modal Content */
/* .modal-
ntent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */

/* The Close Button */
/* .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */


/* ///////////////////////////////////////////////// */
/* FOOD PICK UP SITE SECTION */
.packages {
  width: 90%;
  margin-right: 5px;
}
.packages img {
  width: 150px;
  height: auto;
}

.ins {
  display: flex;
  background-color: lightyellow;
  border: 1px solid;
}
/* home delivery section */
.homeDelivery  p {
  text-align: center;
}


.briefing {
  display: block;
  /* border: solid 3px; */
  width: 70%;
  margin-left: 170px;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: lightgoldenrodyellow;
}

/* section for images below the Upcoming events */
.deliveryEvents{
  text-align: center;
  margin-top: 100px;
  border: goldenrod;
  border-style: outset;
  text-shadow:2px 2px darkgoldenrod;
  }
  .deliveryEvents h1 {
    color: white;
    background-color: black;
    border: goldenrod solid;
  }




/* images for Upcoming events section styling */
.eventImages img  {
  display: flex;
  border: 3px solid;
  width: 150px;
  height: auto;
  opacity: 0.5;
}
.eventImages a {
  color: black;
}
.eventImages img:hover {
  opacity: 1.0;

}
.eventImages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}
/* create 2 seperate containers for food package description-add images */
.packages {
  display: flex;
  justify-content: space-evenly;
  max-width: 75% ;
  margin: 0 auto;
}
/* this affects the dimension space for the collapse */
.collapsible {
  width: 90%;
  margin-left: 100px;
}

#ct1 {
  background-color: lightgoldenrodyellow;
}
#ct2 {
  background-color: lightgrey;
}

/* online order button. center in the middle of page */
.onlineOrder {
  display: flex;
  justify-content: center;
}
/* collapsible area underneath food packages */
.collaps {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: black solid;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom:30px ;
  position: static;
  width: fixed;
}

.active, .collaps:hover {
  background-color: darkgoldenrod;
}
/* Affects hidden description content in collapse */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  width: 70%;
}
.elderDelivery {
  display: block;
  padding: 100px;
  flex-wrap: wrap;
  color: whitesmoke;
  background-color: black;

  border: solid 3px;
  width: 99.5%;
  margin-left: 3px;
  text-align: center;
  margin-bottom: 10px;
}



/* ////////////////////////////////////////////////////////////////////////// */
/* LOCATION AND EVENTS SITE SECTION */
.locationDescrip {
  display: flex;
  flex-direction: column;
}
/* Content and picture for Temple Salem church */
.location1 {
  display: flex;
  width: 80%;
  padding: 4px;
}
.location1 div {
  padding: 25px;
}
/* controls position of header for Temple Salem */
.location1 p {
  margin-right: 75px;
}
.tSalem {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  .location1:hover .tSalem {
    opacity: 0.7;
  }
/* picture and paragraph content for Weymark church */
.location2 {
  display: flex;
  width: 80%;
  padding: 4px;
}

.location2 div {
  padding: 25px;
}
/* controls position of header for burea */
.location2 p {
  margin-right: 75px;
}

.weymark {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  .location2:hover .weymark {
    opacity: 0.3;
  }


/* Picture and paragraph content for burea church */
.location3 {
  display: flex;
  width: 80%;
  padding: 4px;
}

.location3 div {
  padding: 50px;
}
.location3 p {
  margin-right: 75px;
}
/* hover effect on image */
.bureaSda {
opacity: 1;
display: block;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}
.location3:hover .bureaSda {
  opacity: 0.3;
}


/* /////////////////////////////////////////////////////////////////////////// */
/* ABOUT US SITE SECTION */
.paragraphContentPad {
  padding-bottom: 150px;
  border: 5px solid;
  margin: 8px;
  text-align: center;
  width: 90%;
  margin-left: 25px;
  text-indent: 3em;
}
.togetherImage img {
  border: 2px solid;
  width: 100%;
  height: 80%;
}


/* CONTACT SITE SECTION */
.contacts {
  display: flex;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  padding-bottom: 200px;
  margin: 10px;
}
.contactPic {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}

.contactPic img {
  display: flex;
 width: 300px;
  height: auto;
}

.contacts div {
  margin: 5px;
  width: 60%;

}
/* ONLINE CHOICE SITE SECTION */
.orderSubmit {
margin: 25px;
background-color: lightgoldenrodyellow;
padding-bottom: 75Px;
}
form h3 {
  text-align: center;
}
/* HostIdeas submit section */
.volunteerSubmit {
  margin: 25px;
  background-color: lightgoldenrodyellow;
  padding-bottom: 10px;
  }
  #successSubmit {
    background-color: green;
  }
  .thankYou {
    background-color: lightcyan;
  }
  /* ////////////////////////////////////////////////////// */
  /* successMessage section */
  .successMsg {
    display: flex;
    background-color: lightgreen;
    justify-content: center;
  }